.wrapper {
  max-width: 700px;
  margin: 2rem auto;
  font-family: Arial, sans-serif;
  color: var(--foreground);
}

.title {
  font-size: 2rem;
  margin-bottom: 1.5rem;
  color: var(--primary-color);
}

.cartSummary {
  /* background: var(--background); */
  border-radius: 0.5rem;
  padding: 1rem;
  margin-bottom: 2rem;
  border: 1px solid #cfcece;
}

.cartItem {
  border-bottom: 1px solid #ddd;
  padding: 0.75rem 0;
}

.cartItem h3 {
  margin: 0;
}

.cartItem p {
  margin: 0.25rem 0;
}

.total {
  text-align: right;
  margin-top: 1rem;
  font-weight: bold;
}

.dropinContainer {
  margin-bottom: 1rem;
}

.payButton {
  width: 100%;
  padding: 0.75rem 1.5rem;
  font-size: 1rem;
  border-radius: 0.5rem;
  border: none;
  color: #fff;
  background-color: var(--primary-color);
  cursor: pointer;
  transition: background 0.3s;
}

.payButton:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}

.payButton:hover:not(:disabled) {
  background-color: var(--secundary-color);
}

.orderResult {
  margin-top: 1rem;
  padding: 1rem;
  border-radius: 0.5rem;
  background-color: #e0ffe0;
  color: var(--foreground);
}

.error {
  color: var(--text-error);
}

#braintree--dropin__efeb6a3a-288b-4282-9bf7-8ac850515b2a
  > div.braintree-dropin.braintree-loaded
  > div:nth-child(1) {
  visibility: hidden;
}
