.profileTabs {
  position: relative;
  width: 50%;
  background: #fff;
  border-radius: 12px;
  box-shadow: 0 5px 25px rgba(0, 0, 0, 0.1);
  padding: 1rem;
  min-height: 80vh;
  height: 100%;
  margin: 5rem auto;
  margin-top: 7rem;
}

.tabContent {
  width: 100%;
}

.scrollWrapper {
  text-align: center;
  overflow-y: auto;
  padding-right: 0.5rem;
}

.noResults {
  color: black;
}

.scrollWrapper::-webkit-scrollbar {
  width: 8px;
}

.scrollWrapper::-webkit-scrollbar-thumb {
  background-color: var(--secundary-color);
  border-radius: 8px;
}

.scrollWrapper {
  scrollbar-width: thin;
  scrollbar-color: var(--secundary-color) #f0f0f0;
}

.raffleCard {
  background: #f9f9f9;
  padding: 12px;
  margin-bottom: 12px;
  border-radius: 8px;
}

.raffleCard p {
  color: black;
}

.purchaseTableWrapper {
  overflow-x: auto;
}

.purchaseTable {
  width: 100%;
  border-collapse: collapse;
  margin-top: 6px;
  table-layout: fixed;
}

.purchaseTable th,
.purchaseTable td {
  border: 1px solid #ccc;
  padding: 6px 8px;
  text-align: center;
}

.purchaseTable th {
  background-color: var(--secundary-color);
  color: #fff;
}

.purchaseTable tbody td {
  color: black;
}

.highlighted {
  border: 2px solid #00897d;
  background-color: #e0f7f5;
  transition: background-color 0.3s, border 0.3s;
}

.pagination {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem 0;
  gap: 0.5rem;
  left: 50%;
  transform: translateX(-50%);
  bottom: 1rem;
}

.pagination button {
  padding: 0.5rem 1rem;
  border: none;
  background-color: var(--secundary-color);
  cursor: pointer;
  border-radius: 4px;
}

.pagination button.activePage {
  background-color: var(--secundary-color);
  color: #fff;
}

.pagination span {
  color: black;
}

@media (max-width: 1120px) {
  .profileTabs {
    width: 70%;
  }
}

@media (max-width: 900px) {
  .profileTabs {
    width: 80%;
    min-height: auto;
    height: auto;
    padding-bottom: 6rem;
  }

  .scrollWrapper {
    overflow-y: visible;
  }
}

@media (max-width: 750px) {
  .profileTabs {
    width: 90%;
  }

  .purchaseTable th,
  .purchaseTable td,
  .raffleCard p {
    font-size: 0.8rem;
  }
}
