.container {
  position: relative;
  width: 100%;
  max-height: 100vh;
  padding: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #fff;
}

.containerList {
  display: flex;
  justify-content: center;
  align-items: start;
  width: 100%;
  min-height: 100vh;
  background: var(--primary-color) url("/assets/svg/bg3.svg") center/cover;
  padding-top: 45px;
}

.content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.textBox {
  max-width: 600px;
}

.textBox h2 {
  font-size: 4em;
  font-weight: 500;
  line-height: 1.4em;
  color: #333;
}

.textBox span {
  color: #333;
  font-weight: 500;
}

.textBox p {
  color: #333;
}

.imageBox {
  width: 600px;
  display: flex;
  justify-content: flex-end;
  padding-right: 50px;
  margin-top: 50px;
  z-index: 1;
}

.thumb {
  position: absolute;
  left: 50%;
  bottom: 20px;
  transform: translateX(-50%);
  display: flex;
  gap: 20px;
}

.thumb li {
  list-style: none;
  cursor: pointer;
  transition: 0.3s;
}

.thumb li:hover {
  transform: translateY(-15px);
}

.circle {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--primary-color);
  clip-path: circle(600px at right 800px);
}

.raffleRoom {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
  padding: 2rem;
}

.noRaffles {
  text-align: center;
  font-size: 1.2rem;
  color: white;
  margin-top: 2rem;
}
