.container {
  width: 80%;
  color: var(--foreground);
  padding: 0 20px;
  margin: 0 auto;
  margin-top: 4rem;
  min-height: 70vh;
}

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 80px 20px;
  color: #fff;
  position: relative;
  min-height: 450px;
  height: 500px;
  transition: all 0.3s ease-in-out;
}

.hero h1 {
  font-size: 3rem;
  margin-bottom: 20px;
}

.hero h1 span {
  color: var(--secundary-color);
}

.hero p {
  font-size: 1.2rem;
  margin-bottom: 40px;
}

.nearestRaffle {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
}

.raffleList {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  gap: 1rem;
  flex-wrap: wrap;
}

.raffleListTitle {
  font-size: 3rem;
  margin-bottom: 40px;
  text-align: center;
  color: white;
  z-index: 1000;
}

.rafflesGrid {
  position: relative;
  width: 80%;
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  margin-top: 2rem;
  flex-wrap: wrap;
}

.noRaffles {
  text-align: center;
  font-size: 1.5rem;
  margin-top: 60px;
  color: var(--text-error);
}

.countdown {
  font-size: 6rem;
  font-weight: bold;
  color: #ffcc00;
  text-shadow: 0 0 20px rgba(255, 200, 0, 0.8);
  animation: pulse 1s infinite;
}

.replayButton {
  display: flex;
  flex-direction: column;
  margin-top: -150px;
  background-color: red;
  color: white;
  font-weight: 600;
  padding: 10px 24px;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
  transition: background-color 0.2s ease, transform 0.1s ease;
  z-index: 10000;
}

.replayButtonContainer {
  display: flex;
  justify-content: center;
  margin-top: 24px;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

.heroRaffle {
  margin-top: -30px;
  z-index: 10000;
}

@media (max-width: 1750px) {
  .rafflesGrid {
    width: 100%;
  }
}

/* Responsive */
@media (max-width: 1024px) {
  .rafflesGrid {
    justify-content: center;
    gap: 1.5rem;
  }
}

/* Móviles grandes */
@media (max-width: 768px) {
  .hero h1 {
    font-size: 2.2rem;
  }
  .hero p {
    font-size: 1rem;
  }
  .rafflesGrid {
    justify-content: center;
    gap: 1rem;
  }
}

/* Móviles pequeños */
@media (max-width: 500px) {
  .rafflesGrid {
    flex-direction: column;
    /* align-items: center;
    justify-content: center; */
    /* gap: 1rem; */
    flex-wrap: nowrap;
  }
}

/* Extra pequeños hasta 300px */
@media (max-width: 300px) {
  .rafflesGrid {
    width: 100%; /* que no toque los bordes */
    gap: 0.8rem;
  }
  .hero h1 {
    font-size: 1.5rem;
  }
  .hero p {
    font-size: 0.9rem;
  }
  .raffleListTitle {
    font-size: 2rem;
    margin-bottom: 20px;
  }
}
