.container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  background: linear-gradient(
    to bottom right,
    rgba(255, 255, 255, 0.2),
    rgba(255, 255, 255, 0.05)
  );
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.5), -1px -1px 2px #aaa,
    1px 1px 2px #555;
  backdrop-filter: blur(0.8rem);
  border-radius: 0.5rem;
  width: 70%;
  height: 80vh;
  margin: 0 auto;
}

.backButtonWrapper {
  position: absolute;
  left: 1%;
  top: 1%;
}

.left {
  flex: 2;
  padding-right: 10px;
}

.right {
  flex: 1;
}

@media (max-width: 1400px) {
  .container {
    width: 80%;
  }
}

@media (max-width: 1000px) {
  .container {
    width: 90%;
  }
}

@media (max-width: 960px) {
  .container {
    flex-direction: column;
    flex-wrap: nowrap;
    height: 100%;
    justify-content: center;
    align-items: center;
    margin: 10% auto;
  }

  .right {
    flex: none;
    margin: 0 auto;
  }
}

@media (max-width: 800px) {
  .backButtonWrapper {
    position: relative;
    left: 0;
  }

  .container {
    align-items: flex-start;
    padding: 1rem 2rem;
  }

  .left {
    padding: 0;
    flex: none;
  }
}

@media (max-width: 400px) {
  .container {
    padding: 0 0.5rem 0 0;
  }

  .backButtonWrapper {
    left: 1rem;
  }
}
