.ticketWrapper {
  display: flex;
  justify-content: center;
  transform-style: preserve-3d;
}

.ticket {
  position: relative;
  width: 250px;
  height: 100px;
  background: #fffbea;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.25);

  /* Forma trapezoidal */
  clip-path: polygon(0% 0%, 90% 0%, 100% 20%, 100% 80%, 90% 100%, 0% 100%);
  border-radius: 8px;
}

/* Borde dashed interior */
.ticket::before {
  content: "";
  position: absolute;
  top: 10px;
  left: 10px;
  right: 10px;
  bottom: 10px;

  /* Forma trapezoidal interna */
  clip-path: polygon(0% 0%, 90% 0%, 100% 10%, 100% 90%, 90% 100%, 0% 100%);

  border: 2px dashed #ff0000;
  border-radius: 6px;
  pointer-events: none;
}

.ticketContent {
  font-family: "Inter", sans-serif;
  font-size: 18px;
  font-weight: bold;
  color: #333;
  text-align: center;
}

.name {
  color: var(--secundary-color);
}

.number {
  color: red;
}
